#content-wrapper{
	background-color: white;
	margin-top: 75px;
	margin-left: 0px;
	height: auto;
	overflow-x: auto;
    transition: width 0.4s;
}


#content-wrapper p{
	color: black;
}

.breadcrumb{
	padding-left: 15px;
}

.text-justify{
	text-align: justify;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background-color: rgba(34, 34, 34, 0.13);
}

.bs-callout-info {
    border-left-color: #1b809e;
}

body::-webkit-scrollbar{
	display: none;
}

.campaign-row{
	transition: all 0.2s;
}

.campaign-row:hover{
	background-color: #BBBBBB;
}

#content-wrapper{
	margin-left: 0px;
}

.btn{
	margin: 1px;
}

#search-btn{
	margin: 0px;
}

table{
	table-layout: fixed;
}
.table th,td{
	word-wrap: break-word;
}
